# Simulation Exercises

In [11]:
import numpy as np
import pandas as pd

### 1. How likely is it that you roll doubles when rolling two dice?

In [28]:

# What's the probability of rolling doubles on 2 dice
outcomes = [1, 2, 3, 4, 5, 6]
n_simulations = 10_000

die1 = np.random.choice(outcomes, size=n_simulations)
die2 = np.random.choice(outcomes, size=n_simulations)


# subset of two dice matching
d1_rolled_d2 = die1 == die2
d2_rolled_d1 = die2 == die1
# combined 
rolled_doubles = d1_rolled_d2 & d2_rolled_d1
rolled_doubles.mean()

0.1599

### 2.  If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [32]:
# let's say Heads is 1 and Tails is 0
outcomes = [1, 0]

# Step 2: Create a matrix of random data where rows=simulations, columns=trial

# Simulation = the number of times we run the experiment
# Trials = the number of things in each experiment
n_simulations = 1_000_000
n_trials = 8 # b/c we're flipping 8 coins with each experiment

# size argument can set our simulation and trial size
flips = np.random.choice(outcomes, size=(n_simulations, n_trials))
flips [0:5]

array([[0, 1, 0, 1, 1, 0, 1, 1],
       [0, 0, 0, 0, 1, 1, 1, 1],
       [1, 0, 0, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 1, 0, 1]])

In [33]:
# count the number of heads that came up per each 8 coin flip
num_of_heads = flips.sum(axis=1)
num_of_heads

array([5, 4, 6, ..., 3, 3, 3])

In [34]:
#get the probabibility of getting exactly 3 heads
(num_of_heads == 3).mean()

0.21849

In [35]:
# get the probability of getting more than 3 heads
(num_of_heads > 3).mean()

0.636707

### 3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [37]:
# What are the odds that the two billboards I drive past both have data science students on them?

# Step 1, represent our data's outcomes
# Let's say Web Development is 1 and Data Science is 0

outcomes = [1, 0]

# Step 2, create the data
n_simulations = 1_000_000

picks = np.random.choice(outcomes, size=(n_simulations, 2), p=[0.75, 0.25])

# What are the chances we drive by two data science students on billboards?
num_of_data_science_students = picks.sum(axis=1)
(num_of_data_science_students == 0).mean()

0.062732

### 4. Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

In [44]:
# How likely is it that I will be able to buy some poptarts on Friday afternoon?

n_simulations = 1_000_000
n_trials = 5 
pt = np.random.normal(3, 1.5, size = (n_simulations, n_trials))

# What are the chances we are able to buy PopTarts on a Friday afternoon?
num = pt.sum(axis=1)
(num > 17).mean()

0.274979

### 5. Compare Heights

    Men have an average height of 178 cm and standard deviation of 8cm.
    Women have a mean of 170, sd = 6cm.
    Since you have means and standard deviations, you can use np.random.normal to generate observations.
    If a man and woman are chosen at random, P(woman taller than man)?

In [107]:
#If a man and woman are chosen at random, P(woman taller than man)?

n_simulations = 1_000_000

male_height = np.random.normal(178, 8, size=(n_simulations, 1))
women_height = np.random.normal(170, 6, size=(n_simulations, 1))

(women_height > male_height).mean()

0.21166

### 6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. 
    What are the odds that after having 50 students download anaconda, no one has an installation issue? 
    100 students?

    What is the probability that we observe an installation issue within the first 150 students that download anaconda?

    How likely is it that 450 students all download anaconda without an issue?

In [108]:
# What are the odds that after having 50 students download anaconda, no one has an installation issue? 

# Let's say a successful download is 1, and a failure is 0 
outcomes = [1,0]

p_fail = 0.004
n_students = 50
n_simulations = 1_000_000

downloads = np.random.choice(outcomes, size=(n_simulations, n_students), p =[0.996, 0.004])

# What are the odds that after having 50 students download anaconda, no one has an installation issue? 
num_success = downloads.sum(axis=1)
(num_success == 50).mean()

0.818148

In [109]:
# What are the odds that after having 100 students download anaconda, no one has an installation issue? 
n_students = 100
n_simulations = 1_000_000

downloads = np.random.choice(outcomes, size=(n_simulations, n_students), p =[0.996, 0.004])

# What are the odds that after having 100 students download anaconda, no one has an installation issue? 
num_success = downloads.sum(axis=1)
(num_success == 100).mean()

0.669911

In [110]:
# What is the probability that we observe an installation issue within the first 150 students that download anaconda?
n_students = 150
n_simulations = 1_000_000

downloads = np.random.choice(outcomes, size=(n_simulations, n_students), p =[0.996, 0.004])

# What are the odds that after having 100 students download anaconda, no one has an installation issue? 
num_success = downloads.sum(axis=1)
(num_success >= 150).mean()

0.548372

In [83]:
#How likely is it that 450 students all download anaconda without an issue?
n_students = 450
n_simulations = 1_000_000

downloads = np.random.choice(outcomes, size=(n_simulations, n_students), p =[0.996, 0.004])

# What are the odds that after having 100 students download anaconda, no one has an installation issue? 
num_success = downloads.sum(axis=1)
(num_success == 450).mean()

0.164173

### There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

How likely is it that a food truck will show up sometime this week?

In [105]:
p_truck = .7
ndays = 7
n_simulations = 1_000_000

data = np.random.random((n_simulations, ndays))

food_truck_day = data < p_truck

# How unlikely is this?
(food_truck_day.sum(axis=1) == 3).mean()

0.096904

In [106]:
#How likely is it that a food truck will show up sometime this week?
(food_truck_day.sum(axis=1) > 3).mean()

0.874313

In [102]:
#Another approach
outcomes = [0,1]
n_days = 3
#0 is no truck, 1 is a truck(s)
truck_in_park = np.random.choice(outcomes, size = (10_000, n_days), p = (.3, .7))

truck_sighting = truck_in_park.sum(axis=1)
(truck_sighting == 0).mean()

0.026

### If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [94]:
# If 23 people are in the same room, what are the odds that two of them share a birthday?
n_simulations = 1_000_000
n_trials = 23
same_birthday = np.random.randint(low = 1,high = 366 , size=(n_simulations,n_trials),dtype = int)

In [95]:
same_bday = pd.DataFrame(same_birthday)

In [96]:
same_bday

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,22,47,178,267,201,166,337,253,140,81,...,79,92,140,348,204,313,198,297,195,191
1,300,19,96,296,83,306,169,98,58,308,...,96,302,217,87,229,150,115,193,251,236
2,236,316,171,357,50,348,180,118,351,131,...,320,269,50,175,342,283,9,107,226,10
3,37,321,176,9,174,327,353,201,123,198,...,254,25,54,79,125,108,296,138,267,98
4,49,19,1,133,358,231,8,230,326,289,...,22,243,14,162,122,252,225,30,186,286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,251,271,339,279,170,142,313,316,201,210,...,330,253,157,333,88,16,291,191,152,166
999996,24,143,205,332,44,181,130,41,296,56,...,51,227,69,340,327,70,161,286,165,75
999997,176,206,331,231,32,274,172,128,57,337,...,34,337,79,127,108,325,237,54,312,182
999998,202,94,118,29,126,174,284,181,332,249,...,288,253,73,157,202,269,160,268,156,85
999999,339,294,225,238,335,82,334,265,147,152,...,127,91,167,265,110,243,197,253,38,38

In [97]:
same_bday['shared'] = same_bday.apply(lambda row: len(row)!= row.nunique(), axis=1)

In [98]:
same_bday.shared.mean()

0.507891

In [99]:
same_bday.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,shared
0,22,47,178,267,201,166,337,253,140,81,...,92,140,348,204,313,198,297,195,191,True
1,300,19,96,296,83,306,169,98,58,308,...,302,217,87,229,150,115,193,251,236,True
2,236,316,171,357,50,348,180,118,351,131,...,269,50,175,342,283,9,107,226,10,True
3,37,321,176,9,174,327,353,201,123,198,...,25,54,79,125,108,296,138,267,98,True
4,49,19,1,133,358,231,8,230,326,289,...,243,14,162,122,252,225,30,186,286,False

In [100]:
#What if it's 20 people? 
n_simulations = 1_000_000
n_trials = 20
same_birthday = np.random.randint(low = 1,high = 366 , size=(n_simulations,n_trials),dtype = int)

same_bday = pd.DataFrame(same_birthday)

same_bday['shared'] = same_bday.apply(lambda row: len(row)!= row.nunique(), axis=1)

same_bday.shared.mean()

0.411082

In [101]:
#What if it's 40 people? 
n_simulations = 1_000_000
n_trials = 40
same_birthday = np.random.randint(low = 1,high = 366 , size=(n_simulations,n_trials),dtype = int)

same_bday = pd.DataFrame(same_birthday)

same_bday['shared'] = same_bday.apply(lambda row: len(row)!= row.nunique(), axis=1)

same_bday.shared.mean()

0.891006